body {
    background-color: papayawhip;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* height: auto; */
    width: 25%;
    /* align-self: center; */
    justify-self: center;
    /* color: white; */
    /* display: grid; */
}

.container-main {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    word-wrap: break-word;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 75% 25%;
}

.write-task {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write-task input {
    grid-column-start: 2;
    align-self: center;
    height: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

.write-task label {
    text-align: center;
}

.container-main button {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: flex-end;
    /* height: 1.2rem; */
    width: 100%;
    justify-self: center;
    background-color: rgb(38, 207, 38);
    color: white;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 15px;
}

.container-main button:hover {
    cursor: pointer;
    background-color: rgb(33, 182, 33)
}


.task {
    background-color: white;
    border: 2px solid black;
    /* color: black; */
    width: 100%;
    height: 100px;
    border-radius: 1rem;
    word-wrap: break-word;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
